<!DOCTYPE html>
<html>
<head>
  <title>Chain</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:error] %>
  <div class="alert alert-danger" id="error_alert"><%=flash[:error]%> <span style="float:right" class="btn btn-danger btn-xs" onclick="$('#error_alert').hide(500)">X</span></div>
<% end %>
<%= yield %>

</body>
</html>
